body
{
}
.Search-form {
    display: block;
    width: 100%;
    border: 5px solid #333;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-areas:
        'header1 header2 header3'
        'header4 header5 header6';
}

.item1 {
    grid-area: header1;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
}

.item2 {
    grid-area: header2;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
}

.item3 {
    grid-area: header3;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
}


.item4 {
    grid-area: header4;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
}

.item5 {
    grid-area: header5;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
}

.item6 {
    grid-area: header6;
    padding: 20px;
    margin: 20px;
}

#Searchflight {
    width: 200px;
    height: 50px;
}