extends Layout
block content
  .Search-form.AboutUs
    p
      | Space Trip is a futuristic planetary travel agency that provides booking and registration processes for shuttles between the Earth and other planets and moons in uor solar system.
      br
      |             We provide our customers with information about what attractions and occupations are in each destination, 
      a(href='OurTrips.html', style='color:var(--green)') Our Trips
      |  , whether a flight for vacation or the possibility of permanent settlement.
      br
      |             Our company also provides transportation for scientists and researchers who fly to planets and moons that do not provide tourist attractions. 
      br
      |             Furthermore, Space Trip maintains a 
      a(href='Wanted.html', style='color:var(--green)') Wanted
      |  page for its employees as an intermediary between the various companies that need employees to maintain and operate destinations in our solar system.
