extends layout
block content
    form#searchMenu.Search-form(action='http://localhost:3000/searchResult', method='get')
      .grid-container
        .item1
          label(for='Planets') Current location:
          br
          select#Planets(name='CurrentL', required='')
            option(value='Earth') Earth
            option(value='Jupiter') Jupiter
            option(value='Mars') Mars
            option(value='ISS') ISS
            option(value='Venus') Venus
        .item2
          label(for='Planets') Destination:
          br
          select#Planets(name='DestinationL', required='')
            option(value='') None
            option(value='Mars') Mars
            option(value='Earth') Earth
            option(value='Jupiter') Jupiter
            option(value='ISS') ISS
            option(value='Venus') Venus
        
        .item4
          .nativeDatePicker
            label(for='DepartureDate') Departure date:
            input#DepartureDate.date(type='date', name='DepartureDate')
            span.validity
          .fallbackDatePicker
    
        .item5
          .nativeDatePicker
            label(for='ComebackDate') Comeback date:
            input#ComebackDate.date(type='date', name='ComebackDate')
            span.validity
          .fallbackDatePicker
  
        .item-6
          input(type='hidden' , name='LoggedInUser' , value= LoggedInUser)
          input.btn(type='submit', value='Search Flights')  
    
    

    .recommandedShutteles
      h1 Future Shutteles
      h2 Recommanded for you
      each val in dests
        form.recommanded(action='http://localhost:3000/searchResult', method='post')
          input(type='hidden' , name='ID' , value= val.ID)
          input(type='hidden' , name='from' , value= val.current_location)
          input(type='hidden' , name='to' , value= val.destination)
          input(type='hidden' , name='departureDate' , value= val.departure_date)
          input(type='hidden' , name='capacity' , value= val.capacity)
          input(type='hidden' , name='price' , value= val.ticket_price)
          a.bolty= val.destination
          br
          a= 'Departure date: ' + val.departure_date
          br
          a= 'Remaining tickets: ' + val.capacity
          br
          a For total of:
          br
          a= val.ticket_price + '$'
          br
          button.btn(type='submit') Go to shuttle
  
    br
    br
