extends layout
block content
    form#searchMenu.Search-form(action='http://localhost:3000/searchResult', method='post')
      .grid-container
        .item1
          label(for='Planets') Current location:
          br
          select#Planets(name='CurrentL', required='')
            option(value='Earth') Earth
            option(value='Jupiter') Jupiter
            option(value='Mars') Mars
            option(value='ISS') ISS
            option(value='Venus') Venus
        .item2
          label(for='Planets') Destination:
          br
          select#Planets(name='DestinationL', required='')
            option(value='') None
            option(value='Mars') Mars
            option(value='Earth') Earth
            option(value='Jupiter') Jupiter
            option(value='ISS') ISS
            option(value='Venus') Venus
        
        .item4
          .nativeDatePicker
            label(for='DepartureDate') Departure date:
            input#DepartureDate.date(type='date', name='DepartureDate')
            span.validity
          .fallbackDatePicker
    
        .item5
          .nativeDatePicker
            label(for='ComebackDate') Comeback date:
            input#ComebackDate.date(type='date', name='ComebackDate')
            span.validity
          .fallbackDatePicker
  
        .item-6
          
          input.btn(type='submit', value='Search Flights')  
    
    

    // .recommandedShutteles(action='/TODO', method='get')
      h1 Future Shutteles
      h2 Recommanded for you
      each val in dests
        form.recommanded(action='/TODO', method='get')
          a.bolty= val.destination
          br
          a= 'Departure date: ' + val.departure_date
          br
          a= 'Remaining tickets: ' + val.capacity
          br
          a For total of:
          br
          a= val.ticket_price + '$'
          br
          button.btn(type='button') Go to shuttle
  
    br
    br
