extends layout
block content
    form#searchMenu.Search-form(action='http://localhost:3000/searchResult', method='post')
      .grid-container
        .item1
          label(for='Planets') Current location:
          br
          select#Planets(name='CurrentL', required='')
            option(value='Earth') Earth
            option(value='Jupiter') Jupiter
            option(value='Mars') Mars
            option(value='ISS') ISS
            option(value='Venus') Venus
        .item2
          label(for='Planets') Destination:
          br
          select#Planets(name='DestinationL', required='')
            option(value='') None
            option(value='Mars') Mars
            option(value='Earth') Earth
            option(value='Jupiter') Jupiter
            option(value='ISS') ISS
            option(value='Venus') Venus
        
        .item4
          .nativeDatePicker
            label(for='DepartureDate') Departure date:
            input#DepartureDate.date(type='date', name='DepartureDate')
            span.validity
          .fallbackDatePicker
    
        .item5
          .nativeDatePicker
            label(for='ComebackDate') Comeback date:
            input#ComebackDate.date(type='date', name='ComebackDate')
            span.validity
          .fallbackDatePicker
  
        .item-6
          input(type='hidden' , name='LoggedInUser' , value= LoggedInUser)
          input.btn(type='submit', value='Search Flights')
          
    br
    // fiiled with Example!!!
    .recommandedShutteles(action='/TODO', method='get')
      // the form shows ,ost recommanded trips based on the client shearch history
      h1 Future Shutteles
      h2 Recommanded for you
      form.recommanded(action='/TODO', method='get')
        a.bolty Mars
        br
        a Departure date: 09/09/2021
        br
        a Remaining tickets: 30
        br
        a For total of:
        br
        a 20,000$
        br
        button.btn(type='button') Go to shuttle
      form.recommanded(action='/TODO', method='get')
        a.bolty Venus
        br
        a Departure date:10/10/2021
        br
        a Remaining tickets: 2!!
        br
        a For total of:
        br
        a 15,000$
        br
        button.btn(type='button') Go to shuttle
      form.recommanded(action='/TODO', method='get')
        a.bolty Mars
        br
        a Departure date:11/11/2021
        br
        a Remaining tickets:45
        br
        a For total of:
        br
        a 45,000$
        br
        button.btn(type='button') Go to shuttle
    br
    br
