<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Wanted.css" />
    <link rel="stylesheet" href="Main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!--Humburger menu lib-->
    <script src="Wanted.js"></script>
    <script src="Main.js"></script>

    <title>Space Trip- Wanted</title>

</head>
<body>
    <video autoplay muted loop id="bg-video">
        <source src="gfp-astro-timelapse.mp4" type="video/mp4">
    </video>
    <nav class="topnav" id="myTopnav">
        <a href="http://localhost:3000/homepage">Home Page</a>
        <a href="http://localhost:3000/OurTrips">Our Trips</a>
        <a href="http://localhost:3000/MyOrders">My Orders</a>
        <a class="active" href="http://localhost:3000/Wanted">Wanted</a>
        <a href="http://localhost:3000/AboutUs">About Us</a>
        <a href="javascript:void(0);" class="icon" onclick="responsiveTopnav()">
            <i class="fa fa-bars"></i>
        </a>
        <a class="b" onclick="show('LogInForm')">Log In</a>
        <a class="b" onclick="show('regForm')">Sign Up</a>
    </nav>
    <br /><br />







    <div class="Jobs-container">
        <div class="CasualJobs">
            <img src="BarMan.jpg" style="width: 100%; height: 500px;" class="picture">

        </div>
        <div class="CasualJobs-description">

            <h1>Casual jobs</h1>
            <a>Hotels employees, Secretaries, Cleaning employees, Shefs,</a>
            <br />
            <a>Reception employees, Security, Restaurants servers.</a>
            <br />
            <a>Bar men: Anywhere you go, if there is no Bars there is no fun.</a>
            <br />
            <a>  * Speaks English fluently and 2 more lanuages at least.</a>
            <br />
            <a>  * Experienced and talented, at least 2 years of career.</a>
            <br />
            <a>  * CLEAR RECORD.</a>
            <br /><br />
            <button type="button" class="btn" onclick="show('FillInformation')">Submit application</button>

        </div>
        <div class="GraphicDesigner">
            <img src="GraphicDesign.jpg" style="width: 100%; height: 500px;" class="picture">
        </div>

        <div class="GraphicDesigner-description">
            <h2>Graphic Designers</h2>
            <a>It doesn't matter how good it is, it needs to look good.</a>
            <br />
            <a>  * 2 years of experience.</a><br />
            <a>  * Knowledge in recording and photoshop.</a><br />
            <a>  * Control of graphics software.</a><br />
            <a>  * Flexible with group and individual work.</a><br />
            <a>  * Advantage for those who make videos and animations.</a><br />
            <a>  * CREATIVITY.</a><br /><br />
            <button type="button" class="btn" onclick="show('FillInformation')">Submit application</button>

        </div>


        <div class="AlgorithmsDeveloper">
            <img src="AlgorithmsDeveloper.jpg" style="width: 100%; height: 500px;" class="picture">
        </div>

        <div class="AlgorithmsDeveloper-description">

            <h2>Algorithms Developers</h2><br />
            <a>Short and effecient. Coding is a life style.</a><br />
            <a>  * Knowledge in Javascript, Java, Python, C++.</a><br />
            <a>  * Passion and desire to be the best.</a><br />
            <a>  * The skills to self teach.</a><br />
            <a>  * 2 Years of experience, 3 Personal projects atleast.</a><br /><br /><br /><br />
            <button type="button" class="btn" onclick="show('FillInformation')">Submit application</button>

        </div>

        <div class="MarketingManager">
            <img src="MarketingManagement.jpg" style="width: 100%; height: 500px;" class="picture">
        </div>
        <div class="MarketingManager-description">

            <h2>Marketing managers</h2>
            <a>Get the attention of absolutely everybody.</a><br />
            <a>  * The ability to attract people, Charisma.</a><br />
            <a>  * Excellent marketing understanding.</a><br />
            <a>  * Relevant academic degree: Communication, Economy, Marketing.</a><br />
            <a>  * Skills and control of computer applications: Excel, Powerpoint.</a><br />
            <a>  * High level of formulation and delivering a message.</a><br />
            <a>  * 3 years of experience and successful career.</a><br /><br /><br /><br />
            <button type="button" class="btn" onclick="show('FillInformation')">Submit application</button>

        </div>


        <div class="DataAnalyst">
            <img src="DataAnalysisEngineering.jpg" style="width: 100%; height: 500px;" class="picture">
        </div>
        <div class="DataAnalyst-description">

            <h2>Data analyst and Engineers</h2><br />
            <a>Be a hero and put everything in the firm in the right place.</a><br />
            <a>  * Relevant academic degree: Computer Science, Software engineer, intelligent systems engineer.</a><br />
            <a>  * 3 years of experience of Bi and analysing intelligent systems.</a><br />
            <a>  * Control of SQL and data managing.</a><br />
            <a>  * High skills in python and ability to program well with it.</a><br />
            <button type="button" class="btn " onclick="show('FillInformation')">Submit application</button>

        </div>

    </div>

    <!-------------------Pop Up Forms --------------------->
    <form id="LogInForm" class="form-container" action="/TODO" method="get">
        <h1>Login</h1>

        <label for="username"><b>Use Name</b></label>
        <input type="text" placeholder="Enter Use Name" oninput="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" oninput="psw" required>

        <button type="submit" class="btn">Login</button>
        <button type="submit" class="btn cancel" onclick="hide('LogInForm')">Close</button>

    </form>

    <form id="regForm" action="" class="form-container" actions="/TODO" method="get">

        <h1>Register:</h1>
        <p id="error"></p>
        <div class="tab register">

            <label for="Fname"><b>First name</b></label>
            <input name="fname" type="text" placeholder="First name..." oninput="this.Fname" required>

            <label for="Lname"><b>Last name</b></label>
            <input name="lname" type="text" placeholder="Last name..." oninput="this.Lname" required>

            <div class="nativeDatePicker">
                <label for="Birthdate">Birthdate:</label>
                <input name="Birthdate" type="date" id="Birthdate" required>
                <span class="validity"></span>
            </div>

        </div>

        <div class="tab register">
            <div class="email">
                <label for="email"><b>Email</b></label>
                <input name="email" type="text" placeholder="Email..." oninput="email" required>
            </div>

            <label for="userName"><b>User Name</b></label>
            <input name="username" type="text" placeholder="User name..." oninput="username" required>

            <label for="psw"><b>Password</b></label>
            <input name="password" type="password" placeholder="Password..." oninput="psw" required>
        </div>


        <div style="overflow:auto;">
            <div>
                <button type="button" class="btn" id="prevBtn" style="float:left;" onclick="nextPrev(-1,'tab register','regForm', 'prevBtn', 'nextBtn')">Previous</button>
                <button type="button" class="btn" id="nextBtn" style="float:right;" onclick="nextPrev(1,'tab register','regForm', 'prevBtn', 'nextBtn')">Next</button>
            </div>
        </div>

        <button type="submit" class="btn cancel" onclick="hide('regForm')">Close</button>
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>

        </div>

    </form>

    <form id="contact" class="form-container" action="/TODO" method="post">
        <h1>Contact Us</h1>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" oninput="email" required>

        <label for="subject"><b>Massege Us</b></label>
        <br />
        <textarea id="subject" name="subject" placeholder="How can we help you.." style="height:100px"></textarea>

        <button type="submit" class="btn">Send</button>
        <button type="submit" class="btn cancel" onclick="hide('contact')">Close</button>
    </form>

    <form id="FQA" class="form-container">
        <h1>Q&A</h1>
        <button type="button" class="accordion" onclick="accordion()">Question 1</button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>

        <button type="button" class="accordion" onclick="accordion()">Question 2</button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>

        <button type="button" class="accordion" onclick="accordion()">Question 3</button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>
        <button type="submit" class="btn cancel" onclick="hide('Q&A')">Close</button>
    </form>

    <form id="Privacy" class="form-container">
        <h1>Privacy Policy</h1>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum."
        </p>
        <button type="submit" class="btn cancel" onclick="hide('Privacy')">Close</button>

    </form>


    <form id="Terms" class="form-container">
        <h1>Terms of Use</h1>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum."
        </p>
        <button type="submit" class="btn cancel" onclick="hide('Terms')">Close</button>

    </form>

    <!-------------------Pop Up Forms --------------------->
    <form id="FillInformation" class="form-container" action="/TODO" method="get">
        <h3>Fill your information and sent us your CV</h3>

        <label for="firstname"><b>First name</b></label>
        <input name="fname" type="text" placeholder="Enter firstname">

        <label for="lastname"><b>last name</b></label>
        <input name="lname" type="text" placeholder="Enter lastname">

        <label for="PhoneNumber"><b>Phone number</b></label>
        <input name="phone" type="text" placeholder="Enter phone number">

        <label for="email"><b>Email</b></label>
        <input name="email" type="text" placeholder="Enter Email">
        <label form="Uploadfiles"><b>Upload files</b></label>
        <input type="file" id="myFile" name="filename" placeholder="Choose file"><br>
        <br><div style="overflow:auto;">
            <div>
                <button type="submit" onclick="submitWanted()" class="btn">submit</button>
            </div>
        </div>
        <button type="submit" class="btn cancel" onclick="hide('FillInformation')">Close</button>
    </form>





    <!-------------------Footer --------------------->
    <div class="footer">
        <a class="b" onclick="show('contact')">Contact Us</a>
        <a class="b" onclick="show('Privacy')">Privacy Policy</a>
        <a class="b" onclick="show('Terms')">Terms</a>
        <a class="b" onclick="show('FQA')">Q&A</a>
    </div>
    <!------------------------------------------------>
</body>
</html>