:root {
    --darkblue: #454D6B;
    --lightblue: #99ccff;
    --blue: #3085a3;
    --darkgrey: #2f3238;
    --green: #5cac38;
    --lightgreen: #99FF66;
}

* {
    box-sizing: border-box;
    
   
}

body {
    /*background-image: url("images/backgroundSuttele2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: var(--darkblue);*/
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: white;
    line-height: 1.5;
}
#bg-video {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.btn {
    background-color: white;
    border: none;
    color: var(--darkgrey);
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0.9;
}
    .btn:hover {
        background-color: white;
        color: var(--green);
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    select, .date {
    outline: 0;
    border: none;
    border-bottom: 1px solid black;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: black;
    background-color: var(--darkgrey);
    cursor: pointer;
    color:white;
}

/*-----------------------------------Top Navigation----------------------------------*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: var(--darkgrey);
    overflow: hidden;
    box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
}
/*for the logo*/
.topnav img{
    float:left;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .topnav .b {
        float: right;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover, .topnav .b:hover {
            
            color: var(--green);
        }

        /* Add a color to the active/current link */
    .topnav a.active {
        
        color: var(--green);
    }
    /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
        display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
}

/*---------------------------------------------------------------------*/
/*--------------------------------Footer-------------------------------------*/

.footer {
    position:fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    
    text-align: center;
    margin: 2px;
    background-color: var(--darkgrey);
    overflow: hidden;
    box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
    
}
.footer .b {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
    .footer .b:hover {
        
        color: var(--green);
    }

/*---------------------------------------------------------------------*/
/*-----------------------------------Home Page----------------------------------*/
.Search-form {
    display: block;
    width: 60%;
    margin: auto;
    background-color: rgba(0,0,0,0.3);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
}


.grid-container {
    position:relative;
    
    display: grid;
    grid-template-areas:
        'header1 header2 header3'
        'header4 header5 header6';
}



.item1 {
    grid-area: header1;
    margin: 10px auto;
}

.item2 {
    grid-area: header2;
    margin: 10px auto;
}

.item3 {
    grid-area: header3;
    margin: 10px auto;
}


.item4 {
    grid-area: header4;
    margin: 10px auto;
}

.item5 {
    grid-area: header5;
    margin: 10px auto;
}

.item-6 {
    grid-area: header6;
    padding: 5px;
    border: none;
    margin: 5px;
}



/*---------------------------------Search Result Form------------------------------------*/

.FlightInfoCol {
    float: left;
    width: 25%;
    padding: 10px;

}
/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .FlightInfoCol {
        width: 100%;
    }
    
}

    /* Clear floats after the columns */
    .FlightInfoRow:after {
        content: "";
        display: table;
        clear: both;
    }
    /*-------------------------------.Recommanded Shutteles--------------------------------------*/
    /*the recommanded shutteles will be offered by the client search history
    by defualt it will offer the closest departure time
*/
.recommandedShutteles {
    display: table;
    width: 60%;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.3);
    opacity: 0.9;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
}

        .recommandedShutteles .recommanded {
            display: block;
            float: left;
            width: 30%;
            margin: 3px;
            text-align: center;
        }
     
    .recommandedShutteles .recommanded .bolty{
        color:var(--green);
        font-size:20px;
    }

@media screen and (max-width: 820px) {
    .grid-container {
        grid-template-areas:
            'header1'
            'header2'
            'header3'
            'header4'
            'header5'
            'header6';
    }

    .recommandedShutteles .recommanded {
        width: 100%;
    }
}
    /*---------------------------------------------------------------------*/
    /*--------------------------------Pop Ups-------------------------------------*/
    /* Add styles to the form container */
.form-container {
    display: none;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    padding: 10px;
    width: 330px;
    left: 50%;
    margin-left: -150px;
    top: 10%;
    z-index: 20;
    box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
    color: var(--darkgrey);
}
#purchesForm, #searchResult {
    display: block;
    top: 40%;
    position: relative;
    width: 60%;
    margin: auto;
    padding: 14px 28px;
    font-size: 16px;
    left: auto;
    cursor: pointer;
}
    /* The popup form - hidden by default*/
#LogInForm:after, #regForm:after, #contact:after, #Privacy:after, #Terms:after, #FQA:after {
    content: "";
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: -2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#LogInForm:before, #regForm:before, #contact:before, #Privacy:before, #Terms:before, #FQA:before {
    position: absolute;
    content: "";
    background: #FFF;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Full-width input fields */
.form-container input[type=text], .form-container input[type=password], .form-container input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: var(--darkgrey);
    color:white;
}

.form-container input[type=text].invalid, .form-container input[type=password].invalid, .form-container input[type=date].invalid {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: darkred solid;
    
    
}

        /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: var(--darkgrey);
        outline: none;
        padding: 20px;
    }


    /* Add a red background color to the cancel button */
.form-container .cancel, .Tables .cancel, .form-container .btn {
    background-color: var(--darkgrey);
    color: white;
    margin-top: 5px;
    width:100%;
}


textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: var(--darkgrey);
    resize: none;
    color:white;
}



    /*----------------------------Registration & purches multi pages form-----------------------------------------*/
    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    /* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--darkgrey);
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

        /* Mark the active step: */
        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: var(--green);
        }

    /*---------------------------------------------------------------------*/
    /*---------------------------Q&A accordion desgin-------------------------------------*/
.accordion {
    background-color: var(--darkgrey);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active .accordion:hover {
        color:var(--green);
    }

.panel {
    padding: 0 18px;
    display: none;
    background-color: var(--greyishblue);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: var(--green);
    float: right;
    margin-left: 5px;
}
